@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
body {
  margin: 0;
  color: #333;
  background-color: #FFECF3;
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
}

p {
  margin: 0;
}

.pomodora {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.pomodora .logo-pomodora {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 220px;
}

.main-flex-container {
  display: flex;
  flex-direction: row;
}
.main-flex-container .show-history {
  position: absolute;
  top: 100px;
  left: 20px;
  border: solid 1px #D166B3;
  background-color: #FFE7F8;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}
.main-flex-container .history-time-slots {
  position: absolute;
  top: 160px;
  left: 5px;
  word-spacing: 0.1em;
  background-color: #FFE7F8;
  border: solid 1px #D166B3;
  border-radius: 3px;
  padding: 8px 20px 8px 10px;
  transform: translateX(-110%);
  transition: all 1s 0s ease-in-out;
}
.main-flex-container .history-time-slots.show {
  transform: translateX(0);
}
.main-flex-container .history-time-slots .slot {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.main-flex-container .history-time-slots .slot .time-type {
  color: black;
}
.main-flex-container .history-time-slots .slot .time-type .type {
  font-weight: bold;
}
.main-flex-container .history-time-slots .slot .time-display {
  color: #333;
}
.main-flex-container .tomato-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.main-flex-container .tomato-section .arm-banner {
  background-image: url("./images/arm-banner.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 220px;
  text-align: center;
  margin-bottom: -125px;
  margin-left: -10px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: self-start;
}
.main-flex-container .tomato-section .arm-banner-text {
  margin-top: 7px;
  width: 160px;
  height: 46px;
  line-height: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-flex-container .tomato-section .tomato {
  background-image: url("./images/tomato.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 100%;
  height: auto;
  min-height: 450px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-flex-container .tomato-section .tomato .timer {
  font-size: 7.2rem;
  padding: 16% 20px 0px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.main-flex-container .tomato-section .section-buttons {
  display: flex;
  margin-top: 40px;
}
.main-flex-container .tomato-section .btn {
  background-image: url("./images/button-green.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 110px;
  height: 110px;
  margin: 0 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.main-flex-container .tomato-section .btn span {
  padding: 20px;
  width: 70vw;
}

/*# sourceMappingURL=index.css.map */
