@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

body {
  margin: 0;
  color: #333;
  background-color: #FFECF3;
  font-family: 'Hubballi', cursive;
  font-size: 17px;
}

p {
  margin: 0;
}

.pomodora {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;  // backup
  height: calc(100vh - 20px);
  min-height: 680px;    // otherwise Elements would not fit.
  width: 100vw;
  margin: 10px;
  overflow: hidden;
}

.logo-pomodora {
  width: auto;
  height: 8%;
}

.tomato-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 92%;
  width: 100%;
  max-width: 600px;

  .arm-banner {
    background-image: url('./images/arm-banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 30%;
    text-align: center;
    margin-bottom: -125px;
    margin-left: -10px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: self-start;
    font-weight: bold;
    
    &-text {
      margin-top: 7px;
      width: 160px;
      height: 46px;
      line-height: 1.4em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .tomato {
    background-image: url('./images/tomato.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 70%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .timer {
      font-family: 'Libre Baskerville', serif;
      font-size: 7.5rem;
      padding: 50px 0 0 0;
      color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }
  }
  
  .section-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }
}

.btn {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 110px;
  height: 110px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  line-height: 1em;
  cursor: pointer;
  
  span {
    padding: 20px;
    width: 70vw;
  }
  &.green {
    background-image: url('./images/button-green.png');
  }
  &.lila {
    background-image: url('./images/button-lila.png');
  }
  &.show-history {
    width: 80px;
    margin: 0px;
  }
  &.orange {
    background-image: url('./images/button-orange.png');
  }
}

.show-history {
  position: absolute;
  top: 70px;
  right: 20px;
  padding: 10px;
  cursor: pointer;
}

.history-time-slots {
  position: absolute;
  top: 220px;
  right: 15px;
  word-spacing: 0.1em;
  background-color: #FFE7F8;
  border: solid 1px #D166B3;
  border-radius: 3px;
  padding: 8px 20px 8px 10px;
  transform: translateX(110%);
  transition: all 1s 0s ease-in-out;

  &.show {
    transform: translateX(0);
  }

  .slot {
    padding: 4px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;

    .time-type {
      color: black;
      .type {
        font-weight: bold;
      }
    }
    .time-display {
      color: #333;
    }
  }
}